USE [master]
GO
/****** Object:  Database [ManufacturingDB]    Script Date: 19.05.2026 14:49:22 ******/
CREATE DATABASE [ManufacturingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManufacturingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ManufacturingDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManufacturingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ManufacturingDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManufacturingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManufacturingDB]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [varchar](100) NOT NULL,
	[record_id] [int] NOT NULL,
	[action] [varchar](20) NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[changed_by] [int] NOT NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[batch_raw_material_usage]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_raw_material_usage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[production_batch_id] [int] NOT NULL,
	[raw_material_batch_id] [int] NOT NULL,
	[quantity_used] [decimal](12, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[batch_step_execution]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[batch_step_execution](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[production_batch_id] [int] NOT NULL,
	[step_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](200) NOT NULL,
	[status] [varchar](20) NULL DEFAULT ('pending'),
	[actual_temp_c] [decimal](10, 2) NULL,
	[actual_pressure_bar] [decimal](10, 2) NULL,
	[actual_duration_min] [int] NULL,
	[actual_speed_rpm] [int] NULL,
	[deviation_flag] [bit] NULL DEFAULT ((0)),
	[deviation_description] [nvarchar](500) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[started_by] [int] NULL,
	[completed_by] [int] NULL,
	[operator_comment] [nvarchar](500) NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departments]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[deviations]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[deviations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[production_batch_id] [int] NOT NULL,
	[step_execution_id] [int] NULL,
	[deviation_type] [varchar](50) NOT NULL,
	[severity] [varchar](20) NULL DEFAULT ('warning'),
	[description] [nvarchar](500) NOT NULL,
	[planned_value] [nvarchar](100) NULL,
	[actual_value] [nvarchar](100) NULL,
	[parameter_name] [nvarchar](200) NULL,
	[resolution_status] [varchar](20) NULL DEFAULT ('new'),
	[resolution_comment] [nvarchar](500) NULL,
	[resolved_by] [int] NULL,
	[resolved_at] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[equipment_type] [nvarchar](100) NULL,
	[line_number] [varchar](20) NULL,
	[is_active] [bit] NULL DEFAULT ((1)),
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[events]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_type] [varchar](50) NOT NULL,
	[source_type] [varchar](50) NOT NULL,
	[source_id] [int] NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[user_id] [int] NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[extruder_programs]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[extruder_programs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[version] [int] NOT NULL,
	[production_batch_id] [int] NULL,
	[zone_params] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[extruder_telemetry]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extruder_telemetry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[production_batch_id] [int] NOT NULL,
	[zone_number] [int] NOT NULL,
	[temperature_c] [decimal](10, 2) NULL,
	[pressure_bar] [decimal](10, 2) NULL,
	[screw_speed_rpm] [int] NULL,
	[recorded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[production_batches]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[production_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[recipe_id] [int] NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[status] [varchar](20) NULL DEFAULT ('created'),
	[planned_quantity_kg] [decimal](12, 2) NOT NULL,
	[actual_quantity_kg] [decimal](12, 2) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[lab_decision] [varchar](20) NULL,
	[lab_decision_date] [datetime] NULL,
	[lab_decision_by] [int] NULL,
	[lab_decision_reason] [nvarchar](500) NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[updated_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](50) NOT NULL,
	[product_id] [int] NOT NULL,
	[recipe_id] [int] NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[planned_quantity_kg] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL DEFAULT ('draft'),
	[planned_start_date] [date] NOT NULL,
	[actual_start_date] [datetime] NULL,
	[actual_end_date] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[product_type] [nvarchar](100) NOT NULL,
	[form_type] [nvarchar](50) NOT NULL,
	[status] [varchar](20) NULL DEFAULT ('active'),
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[updated_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quality_test_results]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quality_test_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[parameter_name] [nvarchar](200) NOT NULL,
	[measured_value] [decimal](12, 4) NULL,
	[standard_value_min] [decimal](12, 4) NULL,
	[standard_value_max] [decimal](12, 4) NULL,
	[standard_text] [varchar](100) NULL,
	[unit] [varchar](20) NULL,
	[result] [varchar](20) NULL,
	[is_critical] [bit] NULL,
	[analyst_comment] [nvarchar](500) NULL,
	[measured_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quality_tests]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quality_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_number] [varchar](50) NOT NULL,
	[batch_id] [int] NOT NULL,
	[test_type] [varchar](50) NOT NULL,
	[status] [varchar](20) NULL DEFAULT ('scheduled'),
	[priority] [varchar](20) NULL DEFAULT ('normal'),
	[created_date] [datetime] NULL DEFAULT (getdate()),
	[scheduled_date] [date] NOT NULL,
	[completed_date] [datetime] NULL,
	[assigned_to] [int] NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[test_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[raw_material_batches]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[raw_material_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[supplier_batch_number] [varchar](100) NULL,
	[supplier_name] [nvarchar](200) NULL,
	[quantity] [decimal](12, 2) NOT NULL,
	[unit] [varchar](20) NULL DEFAULT ('kg'),
	[receipt_date] [date] NOT NULL,
	[expiration_date] [date] NULL,
	[lab_status] [varchar](20) NULL DEFAULT ('pending'),
	[storage_location] [varchar](50) NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[raw_material_test_results]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[raw_material_test_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[parameter_name] [nvarchar](200) NOT NULL,
	[measured_value] [decimal](12, 4) NULL,
	[standard_value_min] [decimal](12, 4) NULL,
	[standard_value_max] [decimal](12, 4) NULL,
	[standard_text] [varchar](100) NULL,
	[unit] [varchar](20) NULL,
	[result] [varchar](20) NULL,
	[analyst_comment] [nvarchar](500) NULL,
	[measured_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[raw_material_tests]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[raw_material_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_number] [varchar](50) NOT NULL,
	[raw_material_batch_id] [int] NOT NULL,
	[test_type] [varchar](50) NOT NULL,
	[status] [varchar](20) NULL,
	[decision] [varchar](20) NULL,
	[decision_reason] [nvarchar](500) NULL,
	[created_date] [datetime] NULL,
	[completed_date] [datetime] NULL,
	[assigned_to] [int] NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[test_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[category] [nvarchar](100) NULL,
	[unit_of_measure] [varchar](20) NULL DEFAULT ('kg'),
	[is_active] [bit] NULL DEFAULT ((1)),
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[percentage] [decimal](10, 2) NOT NULL,
	[load_order] [int] NOT NULL,
	[tolerance_min] [decimal](10, 2) NULL DEFAULT ((0)),
	[tolerance_max] [decimal](10, 2) NULL DEFAULT ((0)),
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_recipe_component] UNIQUE NONCLUSTERED 
(
	[recipe_id] ASC,
	[raw_material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[recipes]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[status] [varchar](20) NULL DEFAULT ('draft'),
	[approved_at] [datetime] NULL,
	[approved_by] [int] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[updated_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_recipe_product_version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[status_dict]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[status_dict](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [varchar](50) NOT NULL,
	[status_code] [varchar](50) NOT NULL,
	[status_name] [nvarchar](100) NOT NULL,
	[sort_order] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_status_entity] UNIQUE NONCLUSTERED 
(
	[entity_type] ASC,
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tech_cards]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tech_cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[status] [varchar](20) NULL DEFAULT ('draft'),
	[approved_at] [datetime] NULL,
	[approved_by] [int] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[updated_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_techcard_product_version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tech_steps]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](200) NOT NULL,
	[step_type] [nvarchar](50) NOT NULL,
	[equipment_id] [int] NULL,
	[planned_temp_c] [decimal](10, 2) NULL,
	[planned_pressure_bar] [decimal](10, 2) NULL,
	[planned_duration_min] [int] NULL,
	[planned_speed_rpm] [int] NULL,
	[temp_tolerance_min] [decimal](10, 2) NULL DEFAULT ((0)),
	[temp_tolerance_max] [decimal](10, 2) NULL DEFAULT ((0)),
	[pressure_tolerance_min] [decimal](10, 2) NULL DEFAULT ((0)),
	[pressure_tolerance_max] [decimal](10, 2) NULL DEFAULT ((0)),
	[is_mandatory] [bit] NULL DEFAULT ((1)),
	[instruction] [nvarchar](500) NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [varchar](100) NULL,
	[role_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[is_active] [bit] NULL DEFAULT ((1)),
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[last_login] [datetime] NULL,
	[photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[batch_raw_material_usage] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[extruder_programs] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[extruder_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[extruder_telemetry] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[quality_test_results] ADD  DEFAULT ((0)) FOR [is_critical]
GO
ALTER TABLE [dbo].[quality_test_results] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[raw_material_test_results] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[raw_material_tests] ADD  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[raw_material_tests] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_raw_material_usage]  WITH CHECK ADD FOREIGN KEY([production_batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[batch_raw_material_usage]  WITH CHECK ADD FOREIGN KEY([raw_material_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[batch_step_execution]  WITH CHECK ADD FOREIGN KEY([completed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_step_execution]  WITH CHECK ADD FOREIGN KEY([production_batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[batch_step_execution]  WITH CHECK ADD FOREIGN KEY([started_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_step_execution]  WITH CHECK ADD FOREIGN KEY([step_id])
REFERENCES [dbo].[tech_steps] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([production_batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([step_execution_id])
REFERENCES [dbo].[batch_step_execution] ([id])
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[extruder_programs]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[extruder_programs]  WITH CHECK ADD FOREIGN KEY([production_batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[extruder_telemetry]  WITH CHECK ADD FOREIGN KEY([production_batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([lab_decision_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[tech_cards] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[tech_cards] ([id])
GO
ALTER TABLE [dbo].[quality_test_results]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[quality_tests] ([id])
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[raw_material_test_results]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[raw_material_tests] ([id])
GO
ALTER TABLE [dbo].[raw_material_tests]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[raw_material_tests]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[raw_material_tests]  WITH CHECK ADD FOREIGN KEY([raw_material_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[tech_steps]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[tech_steps]  WITH CHECK ADD FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[tech_cards] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[batch_raw_material_usage]  WITH CHECK ADD  CONSTRAINT [CHK_usage_quantity] CHECK  (([quantity_used]>(0)))
GO
ALTER TABLE [dbo].[batch_raw_material_usage] CHECK CONSTRAINT [CHK_usage_quantity]
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD  CONSTRAINT [CHK_pb_planned_quantity] CHECK  (([planned_quantity_kg]>(0)))
GO
ALTER TABLE [dbo].[production_batches] CHECK CONSTRAINT [CHK_pb_planned_quantity]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [CHK_planned_quantity] CHECK  (([planned_quantity_kg]>(0)))
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [CHK_planned_quantity]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='completed' OR [status]='in_progress' OR [status]='planned' OR [status]='draft'))
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='completed' OR [status]='in_progress' OR [status]='planned' OR [status]='draft'))
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD  CONSTRAINT [CHK_rm_quantity] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[raw_material_batches] CHECK CONSTRAINT [CHK_rm_quantity]
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD  CONSTRAINT [CHK_percentage_positive] CHECK  (([percentage]>(0)))
GO
ALTER TABLE [dbo].[recipe_components] CHECK CONSTRAINT [CHK_percentage_positive]
GO
/****** Object:  StoredProcedure [dbo].[complete_batch]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[complete_batch]
    @batch_id INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @qc_decision NVARCHAR(20);
    
    SELECT TOP 1 @qc_decision = decision
    FROM quality_controls
    WHERE batch_id = @batch_id AND sample_type = 'final_product' AND decision = 'blocked';
    
    IF @qc_decision = 'blocked'
    BEGIN
        UPDATE batches SET status = 'blocked', end_time = GETDATE() WHERE id = @batch_id;
        INSERT INTO deviation_events (batch_id, event_type, description, severity)
        VALUES (@batch_id, 'quality_fail', N'Партия заблокирована по решению лаборатории', 'high');
    END
    ELSE
    BEGIN
        UPDATE batches SET status = 'completed', end_time = GETDATE() WHERE id = @batch_id;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_add_quality_control]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_add_quality_control]
    @batch_id INT,
    @sample_type NVARCHAR(20),
    @parameter_name NVARCHAR(100),
    @measured_value NVARCHAR(50),
    @standard_value NVARCHAR(50),
    @unit NVARCHAR(20),
    @analyst_comment NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @result NVARCHAR(10);
    
    -- Простейшая валидация: если measured_value не соответствует стандарту (можно усложнить)
    -- Для демо: fail, если значение числа выходит за пределы
    -- Здесь я использую простое сравнение (в реальности можно парсить стандарт)
    IF TRY_CAST(@measured_value AS DECIMAL) < TRY_CAST(LEFT(@standard_value, CHARINDEX('-', @standard_value + '-')-1) AS DECIMAL)
       OR TRY_CAST(@measured_value AS DECIMAL) > TRY_CAST(RIGHT(@standard_value, LEN(@standard_value) - CHARINDEX('-', @standard_value)) AS DECIMAL)
    BEGIN
        SET @result = 'fail';
    END
    ELSE
        SET @result = 'pass';
    
    DECLARE @decision NVARCHAR(20) = CASE WHEN @result = 'fail' THEN 'blocked' ELSE 'approved' END;
    
    INSERT INTO quality_controls (batch_id, analysis_date, sample_type, parameter_name, 
                                   measured_value, standard_value, unit, result, decision, 
                                   analyst_comment, analyst_id)
    VALUES (@batch_id, GETDATE(), @sample_type, @parameter_name,
            @measured_value, @standard_value, @unit, @result, @decision,
            @analyst_comment, dbo.get_current_user_id());
    
    -- Если результат fail и sample_type = 'final_product', блокируем партию
    IF @result = 'fail' AND @sample_type = 'final_product'
    BEGIN
        EXEC sp_complete_batch @batch_id;  -- она переведёт в status = 'blocked'
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_complete_batch]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_complete_batch]
    @batch_id INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @qc_decision NVARCHAR(20);
    
    -- Проверяем, есть ли блокирующее решение лаборатории по готовой продукции
    SELECT TOP 1 @qc_decision = decision
    FROM quality_controls
    WHERE batch_id = @batch_id AND sample_type = 'final_product' AND decision = 'blocked';
    
    IF @qc_decision = 'blocked'
    BEGIN
        UPDATE batches SET status = 'blocked', end_time = GETDATE() WHERE id = @batch_id;
        INSERT INTO deviation_events (batch_id, event_type, description, severity)
        VALUES (@batch_id, 'quality_fail', N'Партия заблокирована по решению лаборатории', 'high');
    END
    ELSE
    BEGIN
        UPDATE batches SET status = 'completed', end_time = GETDATE() WHERE id = @batch_id;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_record_batch_step]    Script Date: 19.05.2026 14:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_record_batch_step]
    @batch_id INT,
    @step_order INT,
    @actual_temp_c DECIMAL(5,2),
    @actual_pressure_bar DECIMAL(5,2),
    @actual_duration_min INT,
    @operator_comment NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- 1. Получаем process_step_id по recipe_id партии и step_order
        DECLARE @process_step_id INT;
        SELECT @process_step_id = ps.id
        FROM batches b
        JOIN process_steps ps ON ps.recipe_id = b.recipe_id AND ps.step_order = @step_order
        WHERE b.id = @batch_id;
        
        IF @process_step_id IS NULL
            THROW 50003, 'Шаг с таким номером не найден в технологической карте', 1;
        
        -- 2. Проверка, не завершён ли уже шаг
        IF EXISTS (SELECT 1 FROM batch_steps WHERE batch_id = @batch_id AND process_step_id = @process_step_id)
            THROW 50004, 'Этот шаг уже был выполнен', 1;
        
        -- 3. Вычисляем отклонение (если выходит за допуски)
        DECLARE @deviation_flag BIT = 0;
        DECLARE @planned_temp DECIMAL(5,2), @planned_press DECIMAL(5,2), @planned_dur INT;
        SELECT @planned_temp = planned_temp_c, @planned_press = planned_pressure_bar, @planned_dur = planned_duration_min
        FROM process_steps WHERE id = @process_step_id;
        
        IF ABS(@actual_temp_c - @planned_temp) > 2.0 
           OR ABS(@actual_pressure_bar - @planned_press) > 0.5
           OR ABS(@actual_duration_min - @planned_dur) > 10
        BEGIN
            SET @deviation_flag = 1;
        END
        
        -- 4. Вставляем факт выполнения шага
        INSERT INTO batch_steps (batch_id, process_step_id, actual_start_time, actual_end_time, 
                                 actual_temp_c, actual_pressure_bar, actual_duration_min, 
                                 operator_comment, deviation_flag, operator_id)
        VALUES (@batch_id, @process_step_id, 
                DATEADD(MINUTE, -@actual_duration_min, GETDATE()), GETDATE(),
                @actual_temp_c, @actual_pressure_bar, @actual_duration_min,
                @operator_comment, @deviation_flag, dbo.get_current_user_id());
        
        -- 5. Если это был последний шаг — автоматически завершаем партию (вызываем другую процедуру, см. ниже)
        DECLARE @total_steps INT, @completed_steps INT;
        SELECT @total_steps = COUNT(*) FROM process_steps WHERE recipe_id = (SELECT recipe_id FROM batches WHERE id = @batch_id);
        SELECT @completed_steps = COUNT(*) FROM batch_steps WHERE batch_id = @batch_id;
        
        IF @total_steps = @completed_steps
        BEGIN
            EXEC sp_complete_batch @batch_id;
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;

GO
USE [master]
GO
